* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.box {
  max-width: 400px;
  margin-top: 100px;
  margin-left: 600px;
}

$height-interval: 6px;
$side-handler: 20px;
$border-handler: 2px;
$full-side: ($border-handler * 2) + $side-handler;

// .range-slider {

// }

.range-slider__head {
  display: flex;
  justify-content: flex-end;
}

.range-slider__value {
  user-select: none;
}

.range-slider__body {
  position: relative;
  width: 100%;
  height: 6px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}


.range-slider__interval {
  position: absolute;
  background: #e5e5e5;
  height: $height-interval;
  right: 10%;
  left: 0;
}

.range-slider__handle {
  position: absolute;
  border-radius: 50%;
  background: #e75735;
  border: $border-handler solid #FFFFFF;
  width: $side-handler;
  height: $side-handler;
  top: -($full-side - $height-interval) / 2;
  cursor: pointer;
}

.range-slider__handle--left {
  left: -($full-side / 2);
}

.range-slider__handle--right {
  right: -($full-side / 2);
}

.range-slider__tooltip {
  color: #FFFFFF;
  font-weight: 900;
  width: 36px;
  height: 29px;
  line-height: 24px;
  position: absolute;
  top: -50%;
  left: 50%;
  // background-color: green;
  transform: translate(-50%, -100%);
  text-align: center;
  user-select: none;
  background-image: url('../assets/img/slider_bubble_bg.svg');
  background-repeat: no-repeat;
}

